.App{
  background-color: hsl(200, 5%, 87%);
  height: 50rem;
}
.App-logo {
  height: 2rem;
  width: auto;
  margin: .25rem .25rem .25rem 8rem;
}

.App-header { 
 top: 0;
 height: 3rem;
 background-color: yellow;
 display: flex;
}
.App-header form{
  width: 100%;
}
.search{
  margin: .25rem 0rem .25rem 2rem;
  height: 2rem;
  width: 50%;
}

.search-button{
  height: 2.4rem;
  margin: .25rem .25rem .25rem 0rem
}

.search-button {
  height: 2rem;
  background-color: lightgray;
  border-color: lightgray;
  
}

.search-button img{
  vertical-align: baseline;
}

/* item list */
.resultado{
  margin-top: 3rem;
}

.card{
  height: 10rem;;
}

.item-list-img{
  text-align: center;
height: 10rem;
padding-top: 1rem;
}

.ubicacion{
  padding-top: 2rem;
  text-align: center;
}

.picture-list{
  height: -webkit-fill-available;
  padding: 1px;
}
